.ng-invalid {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.ng-invalid:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #d59392;
}

/* ToDo app */
.todo-item .todo-title {
  color: #888;
}

.done .todo-title {
  text-decoration: line-through;
}

.todo-contents {
	margin-top: 10px;
}
